@page "/about" 
<!-- Page used to showcase technical skills-->

<!--TODO: Add this page with technical skills 
Git, Solidworks, C#, Microcontrollers 
For git add the Credly badge
Solidworks: Add a ThreeJS component to showcase a piece
Microcontrollers-->

<h3>About webpage</h3>

<h2>Table of Contents (TOC)</h2>
<ul> <!-- ul>li*3>a:link -->
    <li><a href="#section1">Git</a></li>
    <li><a href="#section2">SolidWorks</a></li>
    <li><a href="#section3">Microcontrollers</a></li>
    <li><a href="#section4">C#</a></li>
</ul>

<!-- TODO: Make a Bootstrap bar chart graphic showcasing Expertise in these tools-->


<h2> <!-- h2*3>id>p -->
    <id=#section1>
        <p>Git</p>
    </id>
</h2>


<p>I earned my GitHub Fundamentals certification. 
    If you want to give it a glimpse you can check it out!:
</p>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8f59fb98-a939-45f0-9a81-ee3ad8145f5a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>



<h2>
    <id=#section2>
        <p>SolidWorks</p>
    </id>
</h2>

<p>Solidworks</p> <!-- TODO: Space to add Solidworks ThreeJS Project-->

<h2>
    <id=#section3>
        <p>Microcontrollers</p>
    </id>
</h2>
<p>Microcontrollers</p> <!-- TODO: Space to add a Microcontroller project using a real life use case-->


<h2>
    <id=#section4>
        <p>C#</p> <!-- TODO: Add C# cool mini codes to showcase expertise
        Nice examples: -->
    </id>
</h2>

@code {

    
}