@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code { // This is a code directive, where you can add C# code in it
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
