@page "/counter"
@inject HttpClient Http
@using System.Numerics
<h6>Counter</h6>

<p role="status">Fibonacci count: @previousValue</p>

<button class="btn btn-outline-dark" @onclick="IncrementFibonacci">Click me</button>

<p>Maximum limit of the counter: @sizeof(ulong) bytes, or 2<sup>64</sup> bits</p>

<!-- This is a Fibonacci sequence counter -->

@code { // This is a code directive, where you can add C# code in it 
    private ulong previousValue = 0;
    private System.UInt64 currentValue = 1;
    private ulong nextValue = 0;
        private void IncrementFibonacci()
    {
        nextValue = previousValue + currentValue;
        previousValue = currentValue;
        currentValue = nextValue;

    }
}
