@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @n</p>

<button class="btn btn-primary" @onclick="Fibonnaci">Click me</button>

@code { // This is a code directive, where you can add C# code in it 
// TODO: Make a code to make a count with Fibonnaci instead of normal counting

    private static bool _hasRun=false;
    public static int Fibonnaci()
    {
        if (!_hasRun)
        {
            int a=0, b=1;
        }
        _hasRun = true;

        int n = a + b;
        a=b;
        b=n;
        return n;
    }
}
