@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, This is my portfolio</h1> <br>
<p>Sup, my name is Bryan, I am a mechatronics enginner with knowledge in:</p>
<ul>
<li>Electronics</li>
<li>Mechanical design</li>
<li>Version control system (git)</li>
<li>and Cybersecurity as a field of personal interest.</li>
</ul>


<p>I am also a Linux fanatic, and currently I am using debian (not an arch user btw 😞) as my main OS</p>



<p class="lead">If you wanna reach out to me or see some of the stuff I do please check my <a href="https://www.linkedin.com/in/bryan-w/">LinkedIn account</a> or <a href="https://github.com/BryanWV">GitHub account</a></p>

<Counter/><!-- You can reuse blazor components, which means you can add up the content from a razor file into another razor file -->

