@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, This is my portfolio</h1> <br>
<h3>Hi, Bryan here.</h3>

<Counter/><!-- You can reuse blazor components, which means you can add up the content from a razor file into another razor file -->


<!-- // TODO: - Add this comment as text for Home page
*/ 
Hello, my name is Bryan, I am a mechatronics enginner with knowledge in electronics, mechanical design, version control system (git), and cybersecurity as a field of personal interest.

I recently earned my GitHub Fundamentals certification program. If you want to give it a glimpse please check it out in the following link:
**Embed code**


I am also a Linux fanatic, and currently I am using debian (not an arch user btw 🤔) as my main OS
**show off a neofetch snapshot**
/*
-->

