@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, This is my portfolio</h1> <br>
<p>Hello, my name is Bryan, I am a mechatronics enginner with knowledge in:</p>
<ul>
<li>Electronics</li>
<li>Mechanical design</li>
<li>Version control system (git)</li>
<li>and Cybersecurity as a field of personal interest.</li>
<li></li>
</ul>


<p>I recently earned my GitHub Fundamentals certification program. 
    If you want to give it a glimpse please check it out in the following link:
</p>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8f59fb98-a939-45f0-9a81-ee3ad8145f5a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

<p>I am also a Linux fanatic, and currently I am using debian (not an arch user btw 😞) as my main OS</p>

<Counter/><!-- You can reuse blazor components, which means you can add up the content from a razor file into another razor file -->

